.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    border: 2.5px solid;
    animation: up 1s infinite linear;
    transition: 2s;
    border-bottom: none;
    border-right: none;
    margin-left: -70px;
    margin-top: -70px;
    left: 50%;
    top: 50%;
  }
  
  .preload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.158);
    z-index: 9999;
  }
  
  @keyframes up {
    from {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #loader2 {
    width: 150px;
    height: 150px;
    left: 50.35%;
    top: 50.7%;
    animation-delay: 0.2s;
    border-color: lightskyblue;
  }
  
  #loader3 {
    width: 135px;
    height: 135px;
    left: 50.7%;
    top: 51.4%;
    animation-delay: 0.4s;
    border-color: gold;
  }
  
  #loader4 {
    width: 125px;
    height: 125px;
    left: 51.05%;
    top: 52.1%;
    animation-delay: 0.6s;
    border-color: deeppink;
  }
  
  #loader5 {
    width: 120px;
    height: 120px;
    left: 51.4%;
    top: 52.8%;
    animation-delay: 0.8s;
    border-color: lawngreen;
  }
  